/*import font*/
@import url('https://webfontworld.github.io/busan/Busan.css');
@import url('https://webfontworld.github.io/iropke/IropkeBatang.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

:root{
  --normal-line:1px solid;
  
  --light-gray:#dcdcdc90;
  --medium-gray: #b4b4b4;
  --dark-gray: #969696;

  --font-17 : 17px;
  --font-22 : 22px;
  --font-25 : 25px;

}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'busan', sans-serif;
}



/* main */


main{
  width: 100%;
  height: 850px;
  background: var(--light-gray);
  padding-top: 70px;
}

.main{
  display: flex;
  justify-content: center;
}

/* leftSide */

.leftSide{
  width: 230px;
  height: 100%;
}

.l-sidebar{
  width: 230px;
  height: 200px;
  background: white;
  margin-top: 20px;

}
.l-menu{
  letter-spacing: 2px;
  font-size: var(--font-17);
  border: var(--normal-line) var(--medium-gray);
  background: var(--light-gray);
  display: flex;
  padding: 15px;
  cursor: pointer;
  justify-content: space-between;
}

.l-menu a{
  color: black;
  letter-spacing: 2px;
  font-size: var(--font-17);
}

.l-menu i{
  display: none;
}
.l-menu:hover{
  transform-origin: center center;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.l-menu:hover i {
  display: block;
}

.l-sidebar div:not(:last-of-type){
  border-bottom: none;
}


/* center */

.noti-container{
  margin-top: 20px;
  margin-left: 20px;
  width: 900px;
  height: 100%;

}

.noti-main{
  border: var(--normal-line) var(--medium-gray);
  display: flex;
}

.noti-title{
  width: 100%;
  font-size: var(--font-22);
  padding: 15px;
  float: overflow;
}

.noti-list{
  border-bottom: var(--normal-line) var(--medium-gray);
  padding: 15px;
  font-size: var(--font-17);
  display: flex;
  cursor: pointer;
}

.noti-list i {
  margin-right: 10px;
}

.noti-list p {
  margin-left: 10px;
}

.noti-ul li,
.noti-ul div{
  font-size: var(--font-17);
  font-family: 'Noto Serif KR', serif;
  font-weight: 500;
}

.noti-sub{
  padding: 16px 0;
  border-bottom: var(--normal-line) var(--medium-gray);
}


.noti-sub-menu a{
  color: black;
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: var(--font-22);
}

.noti-sub-menu a:hover,
.noti-sub-menu a:hover .noti-sub-bg{
  color: var(--dark-gray);
}

.noti-sub ul{
  display: flex;
  justify-content:space-evenly;
}
.noti-bg-list{
  display: flex;
  justify-content: space-evenly;
}

.noti-bg-list li{
  height: 2px;
  margin-bottom: 16px;
  background-color: black;
  border: var(--normal-line) black;
}


.noti-sub-bg1{
  width: 64px;
  position: relative;
  bottom: 15px;

}

.noti-sub-bg2{
  width: 43px;
  position: relative;
  bottom: 15px;

}

.noti-sub-bg3{
  width: 128px;
  position: relative;
  bottom: 15px;
}

.noti-sub-bg4{
  width: 43px;
  position: relative;
  bottom: 15px;
}

.a{
  width: 100%;
  height: 100%;
  margin: 30px 30px;
}

