/* main - section1 */

html{
  scroll-snap-type: y mandatory;
}

main{
  padding-top: 50px;
}


.main-section1{
  display: flex;
  flex-direction : column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/f874c08452c4409d8f236e88102cfe4c.jpg);
  background-repeat: no-repeat;
  background-size : 80% 100%;
	background-position: center;
  align-items : center;
  justify-content: center;
  color: white;
  letter-spacing: 2px;

  scroll-snap-align:start;
}

.main-section1 h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 80px;
}

.main-section1 h2 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.main-section1 button {
  border-radius: 40px;
  background-color: white;
  color: black;
  width: 300px;
  height: 74px;
  font-weight: 400;
  font-size: 24px;
  text-align : center;
}

/* main - section2 */

.main-section2{
  display: flex;
  align-items : center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-size: 100% 100%;

  scroll-snap-align:start;
}

.main-section2-img {
 margin-right: 200px; 
}

.main-section2-img img{
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.main-section2-text {
  margin-left: 100px; 
  margin-right: 100px;
}

.main-section2-text h2{
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 70px;
}

.main-section2-text h3{
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.main-section2-text button {
  border-radius: 40px;
  background-color: black;
  color: white;
  width: 300px;
  height: 74px;
  font-weight: 400;
  font-size: 24px;
  text-align : center;
}

/* main - section3 */


.main-section3{
  display: flex;
  align-items : center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-size: 100% 100%;

  scroll-snap-align:start;
}

.main-section3-img {
  margin-left: 100px; 
  margin-right: 100px; 
}

.main-section3-img img{
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.main-section3-text {
  margin-right: 200px;
}

.main-section3-text h2{
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 70px;
}

.main-section3-text h3{
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.main-section3-text button {
  border-radius: 40px;
  background-color: black;
  color: white;
  width: 300px;
  height: 74px;
  font-weight: 400;
  font-size: 24px;
  text-align : center;
}

/* main - section4 */
.main-section4{
  display: flex;
  align-items : center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: 100% 100%;

  scroll-snap-align:start;
}

.main-section4-img {
  margin-left: 100px; 
  margin-right: 100px; 
}

.main-section4-img img{
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.main-section4-text {
  margin-right: 200px;
}

.main-section4-text h2{
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 70px;
}

.main-section4-text h3{
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.main-section4-text button {
  border-radius: 40px;
  background-color: black;
  color: white;
  width: 300px;
  height: 74px;
  font-weight: 400;
  font-size: 24px;
  text-align : center;
}

/* main - section5 */

.main-section5{
  display: flex;
  align-items : center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  background-size: 100% 100%;

  scroll-snap-align:start;
}

.main-section5-img {
 margin-right: 200px; 
}

.main-section5-img img{
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.main-section5-text {
  margin-left: 100px; 
  margin-right: 100px;
}

.main-section5-text h2{
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 70px;
}

.main-section5-text h3{
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 70px;
  letter-spacing: 1px;
}

.main-section5-text button {
  border-radius: 40px;
  background-color: black;
  color: white;
  width: 300px;
  height: 74px;
  font-weight: 400;
  font-size: 24px;
  text-align : center;
}

/* moveup button */

#moveup{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: black;
}
#moveup:hover{
  cursor: pointer;
}
img.bugi{
  position: fixed;
  bottom: 100px;
  right: 25px;
  cursor: pointer;
}


footer{
  scroll-snap-align:start;
}