@import url('https://webfontworld.github.io/busan/Busan.css');



.container{
    min-height: 100vh;
    width: 100%;
    background: url(../images/YonggungsaTemple.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 400px;
    height: 520px;
    background: rgba(150, 150, 150, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form h4{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: var(--font-25);
    color: #fff;
    font-weight: 300;
}

.container form .id ,
.container form .password {
    border-bottom: var(--normal-line) var(--light-gray);
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.container form .id input,
.container form .password input{
    background: none;
    border: none;
    color: #fff;
    outline: none;
    font-size: var(--font-17);
    font-weight: 300;
    width: 270px;
}

.container form .id input::placeholder,
.container form .password input::placeholder{
    color: #dcdcdc;
}

.container form i{
  color: #dadada;
  font-size: var(--font-17);
  padding: 4px;
}
.container form ion-icon{
    color: #dadada;
    font-size: var(--font-25);
}

.container form .forgot{
    font-size: var(--font-17);
    margin-bottom: 20px;
    margin-right: 20px;
}

.container form a{
    color: #ccc;
    transition: 0.3s;
}

.container form a:hover{
    color: #fff;
}

.container form input[type = submit]{
    background: black;
    border: none;
    color: #fff;
    font-size: var(--font-17);
    font-weight: 300;
    text-align: center;
    width: 183px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.container form .keepsignedIn{
    color: #dadada;
    font-size: var(--font-17);
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 100px;
    margin-bottom: 15px;
}

.container form .keepsignedIn input{
    margin-right: 5px;
    background: #000;
}

.container form .lowForm{
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
}

.container form .lowForm .SignUp{
    color: #e9e9e9;
    font-size: var(--font-17);
}

.container form .lowForm .social{
    margin-left: 42px;
    display: flex;
    margin-top: 5px;
}

.container form .lowForm .social a{
    height: 45px;
    width: 45px;
    background: rgba(255,255,255,0.3);
    margin-left: 2px;
    display: flex;
}

.container form .lowForm .social a:hover{
    background: rgba(255,255,255,0.1);
}

.container form .lowForm .social a:nth-child(3){
    border-radius: 0 0 4px 0;
}

.container form .lowForm .social a ion-icon{
    color: #eee;
    font-size: 35px;
}

#naverIdLogin_loginButton,
#naverIdLogin_loginButton img{
  width: 183px;
  height: 40px;
  margin-bottom: 5px;
}

#kakaoBtn img{
    width: 183px;
    height: 40px;
    margin-bottom: 15px;
}
