@import url('https://webfontworld.github.io/yesan/ChusaLove.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Diary.css');
:root{
  --normal-line:1px solid;
  
  --light-gray:#dcdcdc90;
  --medium-gray: #b4b4b4;
  --dark-gray: #969696;

  --font-17 : 17px;
  --font-22 : 22px;
  --font-25 : 25px;
}

*{
box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  padding-top : 100px;
  height: 900px;
  width: 1903px;
}
main .title{
  margin-bottom: 60px;

}


main .title ul{
  display: flex;
  justify-content: space-around;

}

main .photo{
  flex-direction: column;
  width: 1400px;
  font-size: 22px;
}

main .photo .title ul li{
  cursor: pointer;
font-family: 'ChusaLove';
font-size: 22px
}

main .photo .title ul .enable{
  color: var(--dark-gray);
  border-bottom: 2px solid var(--dark-gray);
 }

main .content{
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    display:flex;
    justify-content : space-evenly;
    flex-wrap : wrap;
}

main .content img{
  width: 300px;
  height: 300px;
  margin: 10px 20px 0px 0px;

}

main .content p{
  width:300px;
  margin-right: 0;
  margin-bottom: 30px;
  font-family: 'EF_Diary';
}
main .content .image-title{
  background-color: RGBA(0,0,0,.7);
  position: relative;
  display: inline-block;
  right: 55px;
  width: 100px;
  text-align: center;
}

.pagemove-number a{
	padding: 2px 10px;
}
.pagemove-number {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

main font{
	font-size: 15px;
	color: black;
}

.footer-information {
	padding-top: 0px;
	}
