/*import font*/
@import url('https://webfontworld.github.io/busan/Busan.css');


:root{
  --normal-line:1px solid;
  
  --light-gray:#dcdcdc90;
  --medium-gray: #b4b4b4;
  --dark-gray: #969696;

  --font-17 : 17px;
  --font-22 : 22px;
  --font-25 : 25px;

}



*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'busan', sans-serif;
  text-decoration: none;
}


/* Header */
header {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: black;
  color: white;
  justify-content:center;
  position: fixed;
  z-index: 9;
}

.header {
  display: flex;
  align-items: center;
}
.header-logo{
  display: flex;
  align-items: center;
  font-size: var(--font-25);
  letter-spacing: 2px;
  color: white;
}

.header-logo img{
  width: 100px;
  height: 60px;
  position: relative;
  left: 25px;
}

.header-login{
  display: flex;
}

.header-login a{
  padding-right: 10px;
  color: white;
  display: flex;
}

.header-menu{
  list-style-type: none;
  display: flex;
  margin-left: 100px;
}
.header-menu li{
  padding-right: 50px;
}

.header-menu li a{
  color: white;
}
.header-login {
  margin-left: 300px;
}


/* footer */
footer {
background-color: var(--light-gray);
height: 130px;
}
.footer {
  width: 100%;
}
.footer-information{
  font-size: 12px;
  margin: 0 auto;
  padding-top: 15px;
  width: 300px;
  height: 130px;
}

/* pagemove button*/


.pagemove ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagemove ul li{
  margin-right: 10px;
}
.pagemove-number {
  display: flex;
}

.pagemove-number a{
  padding : 10px 15px;
}

.pagemove-number a,
.pagemove-Arrow a{
  background-color: var(--light-gray);
}

.pagemove-number a:hover,
.pagemove-Arrow a:hover{
  background-color: var(--medium-gray);
  color: white;
}

.pagemove-Arrow a:active,
.pagemove-number a:active{
  color: var(--light-gray);
  background-color: var(--medium-gray);
}

.pagemove-Arrow a{
  display: inline-block;
  width: 37px;
  height: 37px;
  padding-top: 7px;
  text-align: center;
}

