@import url('https://webfontworld.github.io/iropke/IropkeBatang.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

:root{
  --normal-line:1px solid;
  
  --light-gray:#dcdcdc90;
  --medium-gray: #b4b4b4;

  --font-17 : 17px;
  --font-22 : 22px;
  --font-25 : 25px;


}


body{
  background: #dcdcdc90;
}
/* main */

main {
  display: flex;
  justify-content: center;
  padding-top : 80px;
  width: 1000px;
  margin: 0 auto;

}

main .news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px;
}
main .content{
  flex: 0.9;
  margin-top: 30px;
  width: 750px;
}

main .title{
  border-bottom: var(--normal-line) var(--medium-gray);
}


main .title ul{
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  height: 50px;
  margin: 0 auto;
  font-size: var(--font-22);

}

main .title a {
  color: black;
}


main .item {
  display: flex;
  align-items: center;
  margin-top: 30px;

}


main .item .item-text li{
  font-size: var(--font-17);
  margin-bottom: 30px;
  list-style-type: circle;
  border-bottom: var(--normal-line) var(--medium-gray);
}

main .item .item-text li p{
  margin-bottom: 20px;
  display: flex;
}



.newslist > a ,
.newslist > div > *,
.newslist > div > p > *{
  font-family: 'IropkeBatang';
  font-size: var(--font-22);
  letter-spacing: 2px;
}

.newslist > div > a{
  font-size: var(--font-17);
  color: #FFAAAA;
}

.newstitle{
  font-size: 25px;
  font-family: 'Noto Serif KR', serif;
}

/* moveup button */

#moveup{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: black;
}
#moveup:hover{
  cursor: pointer;
}
img.bugi{
  position: fixed;
  bottom: 100px;
  right: 25px;
  cursor: pointer;
}

