/*import font*/
@import url('https://webfontworld.github.io/busan/Busan.css');

:root{
  --normal-line:1px solid;
  
  --light-gray:#dcdcdc90;
  --medium-gray: #b4b4b4;
  --dark-gray: #969696;

  --font-17 : 17px;
  --font-22 : 22px;
  --font-25 : 25px;

}




/* main */


main{
  width: 100%;
  height: 850px;
  background: var(--light-gray);
  padding-top: 70px;
}

.main{
  display: flex;
  justify-content: center;
}

/* leftSide */

.leftSide{
  width: 230px;
  height: 100%;
}

.l-sidebar{
  width: 230px;
  height: 200px;
  margin-top: 20px;

}
.l-menu{
  letter-spacing: 2px;
  font-size: var(--font-17);
  border: var(--normal-line) var(--medium-gray);
  display: flex;
  padding: 15px;
  cursor: pointer;
  justify-content: space-between;
}

.l-menu a{
  color: black;
  letter-spacing: 2px;
  font-size: var(--font-17);
}

.l-menu i{
  display: none;
}
.l-menu:hover{
  transform-origin: center center;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.l-menu:hover i {
  display: block;
}

.l-sidebar div:not(:last-of-type){
  border-bottom: none;
}


/* center */

.noti-container{
  margin-top: 20px;
  margin-left: 20px;
  width: 900px;
  height: 100%;

}

.noti-main{
  border: var(--normal-line) var(--medium-gray);
  display: flex;
}

.noti-title{
  width: 100%;
  font-size: var(--font-22);
  padding: 15px;
  float: overflow;
}

.noti-list{
  border-bottom: var(--normal-line) var(--medium-gray);
  padding: 20px;
  font-size: var(--font-17);
  display: flex;
  cursor: pointer;
  margin-bottom: 2px;
  justify-content: space-between;
}

.noti-list p {
  margin-left: 10px;
}

