<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>BusanCommunity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>BoardPostServlet</servlet-name>
		<servlet-class>BusanCommunityPack.BoardPostServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BoardPostServlet</servlet-name>
		<url-pattern>/boardPost</url-pattern>
	</servlet-mapping>
	
  	<servlet>
		<servlet-name>BoardUpdateServlet</servlet-name>
		<servlet-class>BusanCommunityPack.BoardUpdateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BoardUpdateServlet</servlet-name>
		<url-pattern>/boardUpdate</url-pattern>
	</servlet-mapping>
	
  	<servlet>
		<servlet-name>CommentPostServlet</servlet-name>
		<servlet-class>BusanCommunityPack.CommentPostServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CommentPostServlet</servlet-name>
		<url-pattern>/commentPost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReplyCommentPostServlet</servlet-name>
		<servlet-class>BusanCommunityPack.ReplyCommentPostServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReplyCommentPostServlet</servlet-name>
		<url-pattern>/replyCommentPost</url-pattern>
	</servlet-mapping>
	
</web-app>